<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>登录界面</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="dashboard.html" th:action="@{/user/login}"  >
			<img class="mb-4" th:src="@{/asserts/img/logo.jpg}" src="asserts/img/bootstrap-solid.svg" alt="" width="102" height="102">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
			<p style="color: red" th:text="${error}" th:if="${not #strings.isEmpty(error)}"></p>
			<input type="number" name="username"  class="form-control"  th:placeholder="#{login.username}" required="" autofocus="">
			<label class="sr-only"></label>
			<input type="password"  name="password" class="form-control" th:placeholder="#{login.password}" required="">
			<p style="color: red" th:text="${verificationError}" th:if="${not #strings.isEmpty(verificationError)}"></p>
			<div>
				<input type="text" name="verification" class="form-control" th:placeholder="#{login.verification}" th:width="16"/>
				<img id="captchaImage" style="height: 45px;width: 105px" class="captchaImage" onclick="changeImage()" src="getCode">
				<a href="#" onclick="changeImage()">[[#{login.vague}]]</a>
			</div>
			<div class="checkbox mb-3">
				<div>
					<input type="radio" name="identity" value="administrator" checked="checked">[[#{login.administrator}]]
					<input type="radio" name="identity" value="teacher">[[#{login.teacher}]]
					<input type="radio" name="identity" value="student">[[#{login.student}]]
				</div>
				<label>

        </label>
			</div>
			<button class="btn btn-lg btn-primary " type="submit" th:text="#{login.btn}">Sign in</button>
			<button class="btn btn-lg btn-primary " type="reset" th:text="#{login.reset}">Reset</button>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm"th:href="@{/login.html(l='en_US')}">English</a>
		</form>
	</body>
<script>

	function changeImage() {
		document.getElementById("captchaImage").src="getCode?w="+Math.random();
	}


</script>


</html>